<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ouchbeta.android" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- general app data-->
    <name>PANDA Pain Diary</name>
    <description>
        A pain diary.
    </description>
    <author email="thedar.kleaves@zohomail.com.au" href="http://appreciatethesauce.blogspot.com">
        Thedar Kleaves
    </author>
    <icon src="res/panda.png" />

    <!-- specific preferences -->
    <preference name="phonegap-version" value="cli-8.1.1" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    
    <content src="index.html" />

    <!-- universal links -->
    <universal-links>
        <host name="ouchbeta.page.link" scheme="https" />
        <host name="ouch-beta-mobile.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback"/>
        </host>
    </universal-links>

    <!-- required to make universal links work in android -->
    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
        <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:host="ouch-beta-mobile.firebaseapp.com" android:pathPrefix="/__/auth/callback" android:scheme="https" />
        </intent-filter>
    </config-file>

    <!-- TODO: add versions to all of these -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-universal-links-plugin-fix" />
    <plugin name="cordova-plugin-buildinfo" />
    <plugin name="cordova-plugin-browsertab" spec="0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" />

    <!-- not needed - probably delete
    <plugin name="cordova-support-google-services" spec="1.3.2" />
    <plugin name="engage-firebase-cordova" spec="9.0.0" />
    <plugin name="cordova-plugin-firebase" spec="https://github.com/KingWebsites/pgb-plugin-firebase.git">
        <variable name="APP_GOOGLE_API_ID" value="1:380054382603:android:52c5c456dd7d6416" />
        <variable name="APP_GOOGLE_API_KEY" value="AIzaSyAnj7PINJSyw5HuwTV-_9RBaNpnAJzGlLQ" />
    </plugin>
    <plugin name="phonegap-plugin-push" spec="2.0.0" />
    -->
    
    <!-- white list -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    
    <!-- platform definitions -->
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>

