<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380054382603-4sad2rofe4krlhjcv2gquhi6h1r2j33n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380054382603-4sad2rofe4krlhjcv2gquhi6h1r2j33n</string>
	<key>API_KEY</key>
	<string>AIzaSyBcILra1N1rG_F5jTK8z-dAt_oxPwKZUjc</string>
	<key>GCM_SENDER_ID</key>
	<string>380054382603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ouch-beta</string>
	<key>PROJECT_ID</key>
	<string>ouch-beta-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>ouch-beta-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380054382603:ios:7e5e5e4a67ed8552</string>
	<key>DATABASE_URL</key>
	<string>https://ouch-beta-mobile.firebaseio.com</string>
</dict>
</plist>