/* load some free fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Montserrat&display=swap');

:root {

    --main-background-colour: #000000;
    --top-background-colour: #424B54;
    --top-text-colour: #FDFDFF;
    --top-text-shadow: #463F3a;
    --body-background-colour: #c5baaf;
    --text-colour1: #424b54; /* headings */
    --text-colour2: #463f3a; /* normal text */
    --bits-colour1: #c98986; /* buttons and text input */
    --bits-colour2: #fdfdff; /* lines, borders, etc. (also used as third text colour) */
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-background-colour);
    text-align: center;
    color: var(--text-colour2);
    font-size: 20px;
}

hr {
    border: 3px solid var(--bits-colour2);
    border-radius: 3px;
    background-color: var(--bits-colour2);
    margin: 1em;
} 

hr.secondaryhr {
    border: 3px solid var(--text-colour1);
    background-color: var(--text-colour1);
}

button, input, textarea {
    background-color: var(--bits-colour1);
    color: var(--text-colour1);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.1em;
}
input::placeholder {
    color: var(--text-colour2);
}

.littlebutton {
    font-size: 0.75em;
}

.screen {
    background-color: var(--body-background-colour);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border-radius: 0.5em;
    text-align: center;
    padding-bottom: 2em;
    display: none;
    margin-top: 50px;
}

#hamburger {
    position: fixed;
    -webkit-backface-visibility: hidden; /* required to keep fixed in android */
    backface-visibility: hidden;
    z-index: 5000;
    top: 0;
    left: 0;
    border-radius: 0.5em;
    background-color: var(--bits-colour1);
    height: 50px;
    width: 50px;
    display: none;
}

#hamburger hr {
    border: 3px solid var(--text-colour1);
    background-color: var(--text-colour1);
    border-radius: 3px;
    margin: 7px;
}

#topbar {
    position: absolute;
    z-index: 4999;
    top: 0;
    left: 0;
    border-radius: 0.25em;
    background-color: var(--top-background-colour);
    height: 50px;
    width: 100%;
    color: var(--top-text-colour);
    text-shadow: 3px 1px 5px var(--top-text-shadow); 
    font-family:'Exo', sans-serif;
    font-size: 30px;
}

#controls button {
    width: 100%;
    margin-top: 10px;
}

#controls {
    position: fixed;
    -webkit-backface-visibility: hidden;
}

#loadingscreen {
    position: fixed;
    -webkit-backface-visibility: hidden; /* required to keep fixed in android */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 10000;
    background-color: var(--main-background-colour);
    text-align: center;
}

#confirmbox {
    position: fixed;
    -webkit-backface-visibility: hidden; /* required to keep fixed in android */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 5000;
}

.confirmboxfront {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 30%;
    z-index: 5002;
    opacity: 100%;
    color: var(--bits-colour2);
}

.confirmboxback {
    background-color: #000000;
    opacity: 90%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:5001;
}

.command {
    width:50%;
}

.commandmini {
    width: 30%;
}
.answer {
    width: 80%;
    font-weight: bold;
    display: block;
    margin: auto; /*centers it*/
    margin-top: 0.2em;
    padding: 0.5em;
}

.question {
    display: block;
    padding: 0.5em;
    color: var(--textcolour1);
    font-size: 1.5em;
}

.fullwidth {
    width: 100%;
}

.toggletrue {
    background-color:var(--text-colour1);
    color: var(--bits-colour1);
    font-weight: bold;
}

.mednum {
    width: 7em;
}

.provider {
    font-weight: bold;
}

.provider .practice {
    font-size: 0.5em;
}

#debug {
    display: none;
    position: absolute;
    top: 1000px;
    left: 0;
    height: 50%;
    width: 100%;
    overflow: scroll;
}

.datehead {
    display: block;
    font-weight: bold;
    color: var(--text-colour1);
    text-align: left;
    width: 100%;
    margin-left: 15px;
}

.painscorehead {
    display: block;
    text-align: left;
    margin-left: 15px;
    width: 100%;
}

.diarybit {
    color: var(--bits-colour2);
    text-align: left;
}

.paindiaryfactors, .paindiarymeds {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 45%;
}

.paindiaryfactors {
    margin-left: 15px;
}

.paindiaryday {
    line-height: 1.5em;

}

.paindiaryday input {
    width: 20%;
    display: inline-block;
}

.journalentry {
    white-space: pre-wrap;
    text-align: left;
    margin-left: 15px;
}

#journaltext {
    font-family: 'Montserrat', sans-serif;
    height: 60%;
    width: 95%;
}

sub {
    font-size: 0.5em;
}

.pandaloader_box {
    border-radius: 3px;
}

/* hides unselected factors in read only mode */
.paindiaryfactorlist button:read-only:not(.toggletrue) {
    display: none;
}

.helpbutton {
    font-size: 0.75em;
    font-weight: bold;
}

#calendar_screen {
    text-align: center;
}

#calendar_forwardmonth, #calendar_backmonth {
    font-weight: bold;
    color: var(--text-colour1);
}
