.barchartbar {
    background-color: #ec7a77;
    display: inline-block;
}
.barchartbar.nodata {
    background-color: #DDDDDD;
}
.barchartelement {
    min-width:2px;
}
.barchartbartitle {
    writing-mode: vertical-lr;
    vertical-align: top;
    font-size: 0.5em;
    height: 50px;
}

.factor {
    height: 20px;
}
.factorname {
    font-size: 0.5em;
    height: 100%;
    margin-top: -20px;
}
.factordates {
    height: 100%;
    border-bottom: solid white 2px;
}
.factorelement {
    background-color: #DDDDDD;
    display: inline-block;
    height: 100%;
}

#painchart {
    display:block;
    min-height:200px;
    width: 99%;
    margin: auto;
    background-color: #EEEEEE;
    border-style: solid;
    border-width: 3px;
    border-color: #1aa0c0;
    border-radius: 12px;
    position: relative;
    color: #222222;
}

#painchart button, #painchart input {
    font-size: 1em;
}
#painchartbars {
    white-space: nowrap;
    height: 200px;
}
#painchartbartitles {
    white-space: nowrap;
}
#painbarchart {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.litup {
    background-color: #ec7a77;
}